<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Information Management System | </title>
         <!-- No Cache BEGIN -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0">
     <!-- No Cache END-->
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/dist/css/bootstrap.min.css')}}">
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome/css/font-awesome.min.css')}}">
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/custom/css/custom.min.css')}}">
  </head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
    {% include "global/sidebar-tpl.html"%}
    {% include "global/top-nav-tpl.html"%}
    {% block body%}
    {% endblock%}
    {% include "global/footer-tpl.html"%}
    </div>
  </div>
  <script data-main="module-loader/requirejs-config.js" src="{{ url_for('static', filename='assets/requirejs/require.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='dashboard/dashboard.js')}}"></script>
</body>
</html>